./backend/env
.chaveJsonFirebaseFirestore
.chave-google-drive
.nginx.conf
.env
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
chaveJsonFirebaseFirestore.json
chave-google-drive.json

.DS_Store
Thumbs.db

echo ".postman" >> .gitignore
echo "postman" >> .gitignore

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/settings.json

frontend/dist/
frontend/.vite/
.postman
postman
